<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="./css/style.css">
        <title></title>
    </head>
    <body>
        <script src='./js/app.js'></script>
        {{>header}}
        <h1>From handlebars {{title}} </h1>
        <h1>Created by {{name}}</h1>
    <br /><br /><br />
    {{>footer}}
    </body>
</html>
