<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="./css/style.css">
        <title></title>
    </head>
    <body>
        <script src='./js/app.js'></script>
        {{>header}}
        <h1>Page not found From handlebars  </h1>
    </body>
</html>
